<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.wh.pjtr.NGS.CUST.mapper.Common.ITestMapper"> 
	<select id="selectTestList" resultType="TestVO">
		SELECT id, `desc`
		FROM wh.wh_data;
	</select> 
	<select id="selectTestListById" parameterType="TestVO" resultType="TestVO">
		SELECT id, `desc`
		FROM wh.wh_data
		WHERE id = #{id};
	</select> 	
</mapper>
